* {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  text-align: center;
}

.detalhesLiMissao {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.divMissoes {
  margin-top: 50px;
}

h1 {
  color: white;
  font-size: 100px;
  font-style: italic;
  margin-bottom: 100px;
  padding-top: 80px;
}

h2 {
  color: white;
  font-family: Trebuchet , Lucida , Arial , sans-serif;
  font-size: 50px;
  margin-bottom: 50px;
}

h3 {
  color: white;
}

.tituloDaPagina {
  margin-top: 0;
}

.imagensPlanetas {
  width: 100%;
}

/* aqui é a ul */
.infoMissoes {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  justify-content: space-around;
  margin-bottom: 50px;
  overflow-y: auto;
  width: 1000px;
}

li {
  color: white;
  list-style: none;
}

.liDeCadaMissao {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  width: 400px;
}

.paginaInteira {
  background-image: url('./images/background.png');
  text-align: center;
}

/* abraça a ul */
.sectionMissoes {
  display: flex;
  justify-content: center;
}

.ulPlanetas {
  display: flex;
  justify-content: space-between;
}
